html {
  scroll-behavior: smooth;
}

body {
  padding-top: 56px;
  font-family: Georgia, Arial, sans-serif;
  background-color: white;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

h2 {
  margin-bottom: 30px;
  font-weight: bold;
  font-family: Georgia, Arial, sans-serif;
  color: #333;
}
h2.dark-mode {
  color: #ffffff;
}

.navbar {
  background-color: #ad0000;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  font-weight: 600;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s;
}
.navbar.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}
.navbar.dark-mode .navbar-brand, .navbar.dark-mode .navbar-nav .nav-link {
  color: #ffffff;
}
.navbar.dark-mode #theme-toggle {
  border-color: #bb86fc;
  color: #bb86fc;
}
.navbar.dark-mode #theme-toggle:hover {
  background-color: #bb86fc;
  color: #ffffff;
}
.navbar.dark-mode .dropdown-menu {
  background-color: #121212;
}
.navbar.dark-mode .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar.dark-mode .dropdown-menu .dropdown-item:hover {
  background-color: #bb86fc;
  color: #ffffff;
}
.navbar .navbar-brand {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 20px;
}
.navbar .navbar-brand:hover {
  color: #ffff00;
}
.navbar .navbar-nav {
  margin-right: 20px;
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 20px;
  transition: color 0.3s;
}
.navbar .navbar-nav .nav-link:hover {
  color: #ffff00;
}
.navbar #theme-toggle {
  border: 1px solid #ad0000;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 20px;
  transition: background-color 0.3s, color 0.3s;
}
.navbar #theme-toggle.dark-mode {
  border-color: #bb86fc;
}
.navbar .dropdown-menu {
  background-color: #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #ad0000;
  padding: 10px;
  margin-top: 10px;
}
.navbar .dropdown-menu .dropdown-item {
  color: #1e1e1e;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: rgb(255, 196, 0);
  color: #000000;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
#about {
  animation: fadeIn 1s ease-in-out forwards;
}
#about h2 {
  animation: fadeIn 1.5s ease-in-out forwards;
}
#about .lead {
  animation: slideInLeft 1s ease-in-out forwards;
}
#about .img-fluid {
  animation: slideInRight 1s ease-in-out forwards;
}

.service-card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: Georgia, Arial, sans-serif;
}
.service-card:hover {
  border-color: #ad0000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}
.service-card.dark-mode {
  background-color: #1e1e1e;
  border-color: #1e1e1e;
}
.service-card.dark-mode:hover {
  border-color: #bb86fc;
}
.service-card .service-icon {
  font-size: 50px;
  color: #005358;
  margin-bottom: 15px;
}

#portfolio {
  background-color: #f8f9fa;
  padding: 50px 0;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #333;
}

.portfolio-item {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, border-color 0.2s;
  height: 450px;
  margin-bottom: 30px;
  font-family: Georgia, Arial, sans-serif;
}
.portfolio-item:hover {
  transform: translateY(-5px);
  border-color: #ad0000;
}
.portfolio-item.dark-mode {
  border-color: #333;
}
.portfolio-item img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}
.portfolio-item h5 {
  font-size: 2rem;
  color: #d60505;
}
.portfolio-item p {
  color: #666;
  font-size: 1rem;
}
.portfolio-item a {
  color: #00aeff;
  font-weight: 700;
  font-size: larger;
  text-decoration: none;
}
.portfolio-item a:hover {
  text-decoration: underline;
}

#blog {
  background-color: #ffffff;
  padding: 50px 0;
}
#blog h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: #333;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#blog .col-md-4 {
  margin-bottom: 30px;
  transition: transform 0.3s;
}
#blog .col-md-4:hover {
  transform: translateY(-5px);
}
#blog img {
  width: 100%;
  height: 190px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
#blog img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}
#blog h5 {
  font-size: 1.75rem;
  color: #007bff;
  margin-top: 15px;
  font-family: "Georgia", serif;
  text-align: center;
}
#blog p {
  color: #666;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: center;
}
#blog a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
#blog a:hover {
  color: #0056b3;
  text-decoration: underline;
}

#testimonials {
  background-color: #f8f9fa;
  padding: 50px 0;
}

#testimonials h2 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

#testimonials .row {
  justify-content: center;
}

#testimonials .blockquote {
  margin-bottom: 30px;
  padding: 20px;
  border-left: 5px solid #007bff;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
}

#testimonials .blockquote:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

#testimonials .blockquote p {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.8;
  margin-bottom: 10px;
}

#testimonials .blockquote-footer {
  font-size: 1rem;
  color: #999;
  font-weight: bold;
}

#testimonials .rounded-circle {
  width: 50px;
  height: 50px;
  text-align: justify;
}

.blockquote {
  background: #ffffff;
  border-left: 5px solid #007bff;
  padding: 20px;
  border-radius: 5px;
  transition: box-shadow 0.3s;
}

.blockquote:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.rounded-circle {
  border: 2px solid #007bff;
  padding: 2px;
}

.blockquote-footer {
  font-size: 0.9rem;
  color: #666;
}

footer {
  background-color: #f8f9fa;
  color: #666;
  padding: 40px 0;
  font-size: 0.9rem;
  text-align: center;
  border-top: 3px solid #ad0000;
  font-family: Georgia, Arial, sans-serif;
}
footer.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
footer p {
  margin-bottom: 0;
  color: inherit;
}
footer p a {
  color: #ad0000;
  font-weight: bold;
  text-decoration: none;
}
footer p a:hover {
  text-decoration: underline;
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #ad0000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}
#scroll-to-top:hover {
  background-color: #ffff00;
}
#scroll-to-top.dark-mode {
  background-color: #bb86fc;
  color: #ffffff;
}
#scroll-to-top.dark-mode:hover {
  background-color: #ad0000;
}/*# sourceMappingURL=style.css.map */