// ====================
// Color Variables
// ====================
$primary-color: #ad0000; // Red
$secondary-color: #ffff00; // Yellow
$light-gray: #f8f9fa;
$text-color: #333;
$button-text-color: #fff;

// Dark Mode Colors
$dark-background: #121212;
$dark-gray: #1e1e1e;
$dark-text-color: #ffffff;
$dark-primary-color: #bb86fc;

// ====================
// Base Styles
// ====================
html {
    scroll-behavior: smooth; 
}

body {
    padding-top: 56px;
    font-family: Georgia, Arial, sans-serif;
    background-color: white;
    color: $text-color;
    transition: background-color 0.3s, color 0.3s;

    &.dark-mode {
        background-color: $dark-background;
        color: $dark-text-color;
    }
}

h2 {
    margin-bottom: 30px;
    font-weight: bold;
    font-family: Georgia, Arial, sans-serif;
    color: $text-color;

    &.dark-mode {
        color: $dark-text-color;
    }
}

// ====================
// Navbar Styles
// ====================
.navbar {
    background-color: $primary-color;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-weight: 600;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s;

    &.dark-mode {
        background-color: $dark-gray;
        color: $dark-text-color;

        .navbar-brand, .navbar-nav .nav-link {
            color: $dark-text-color;
        }

        #theme-toggle {
            border-color: $dark-primary-color;
            color: $dark-primary-color;
            &:hover {
                background-color: $dark-primary-color;
                color: $dark-text-color;
            }
        }

        .dropdown-menu {
            background-color: $dark-background;

            .dropdown-item {
                color: $dark-text-color;
                &:hover {
                    background-color: $dark-primary-color;
                    color: #ffffff;
                }
            }
        }
    }

    .navbar-brand {
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 20px;

        &:hover {
            color: $secondary-color;
        }
    }

    .navbar-nav {
        margin-right: 20px;

        .nav-link {
            color: #ffffff;
            font-size: 1.2rem;
            font-weight: 600;
            margin-left: 20px;
            transition: color 0.3s;

            &:hover {
                color: $secondary-color;
            }
        }
    }

    #theme-toggle {
        border: 1px solid $primary-color;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        font-size: 1.2rem;
        font-weight: 600;
        padding: 5px 10px;
        border-radius: 5px;
        margin-right: 20px;
        transition: background-color 0.3s, color 0.3s;

        &.dark-mode {
            border-color: $dark-primary-color;
        }
    }

    .dropdown-menu {
        background-color: #b3b3b3;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        border-radius: 20px;
        border: 1px solid $primary-color;
        padding: 10px;
        margin-top: 10px;

        .dropdown-item {
            color: #1e1e1e;
            &:hover {
                background-color: rgb(255, 196, 0);
                color: #000000;
                border-radius: 10px;
            }
        }
    }
}

// ====================
// About Section
// ====================
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#about {
    animation: fadeIn 1s ease-in-out forwards;

    h2 {
        animation: fadeIn 1.5s ease-in-out forwards;
    }

    .lead {
        animation: slideInLeft 1s ease-in-out forwards;
    }

    .img-fluid {
        animation: slideInRight 1s ease-in-out forwards;
    }
}

// ====================
// Service Card Styles
// ====================
.service-card {
    background-color: $light-gray;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: Georgia, Arial, sans-serif;

    &:hover {
        border-color: $primary-color;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transform: translateY(-10px);
    }

    &.dark-mode {
        background-color: $dark-gray;
        border-color: $dark-gray;

        &:hover {
            border-color: $dark-primary-color;
        }
    }

    .service-icon {
        font-size: 50px;
        color: #005358;
        margin-bottom: 15px;
    }
}

// ====================
// Portfolio Item Styles
// ====================
#portfolio {
    background-color: $light-gray;
    padding: 50px 0;

    h2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 2.5rem;
        color: $text-color;
    }
}

.portfolio-item {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, border-color 0.2s;
    height: 450px;
    margin-bottom: 30px;
    font-family: Georgia, Arial, sans-serif;

    &:hover {
        transform: translateY(-5px);
        border-color: $primary-color;
    }

    &.dark-mode {
        border-color: #333;
    }

    img {
        border-radius: 8px;
        max-width: 100%;
        height: auto;
    }

    h5 {
        font-size: 2rem;
        color: #d60505;
    }

    p {
        color: #666;
        font-size: 1rem;
    }

    a {
        color: #00aeff;
        font-weight: 700;
        font-size: larger;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

// ====================
// Blog Styles
// ====================
#blog {
    background-color: #ffffff;
    padding: 50px 0;

    h2 {
        text-align: center;
        margin-bottom: 40px;
        font-size: 2.5rem;
        color: $text-color;
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .col-md-4 {
        margin-bottom: 30px;
        transition: transform 0.3s;

        &:hover {
            transform: translateY(-5px);
        }
    }

    img {
        width: 100%;
        height: 190px;
        border-radius: 12px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
        }
    }

    h5 {
        font-size: 1.75rem;
        color: #007bff;
        margin-top: 15px;
        font-family: 'Georgia', serif;
        text-align: center;
    }

    p {
        color: #666;
        font-size: 1.1rem;
        line-height: 1.8;
        text-align: center;
    }

    a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;

        &:hover {
            color: #0056b3;
            text-decoration: underline;
        }
    }
}

// ====================
// testimonials
// ====================
#testimonials {
    background-color: #f8f9fa;
    padding: 50px 0;
}

#testimonials h2 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

#testimonials .row {
    justify-content: center;
}

#testimonials .blockquote {
    margin-bottom: 30px;
    padding: 20px;
    border-left: 5px solid #007bff;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

#testimonials .blockquote:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

#testimonials .blockquote p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.8;
    margin-bottom: 10px;
}

#testimonials .blockquote-footer {
    font-size: 1rem;
    color: #999;
    font-weight: bold;
}

#testimonials .rounded-circle {
    width: 50px;
    height: 50px;
    text-align: justify;
}

.blockquote {
    background: #ffffff;
    border-left: 5px solid #007bff;
    padding: 20px;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

.blockquote:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.rounded-circle {
    border: 2px solid #007bff;
    padding: 2px;
}

.blockquote-footer {
    font-size: 0.9rem;
    color: #666;
}






// ====================
// testimonials
// ====================





// ====================
// Footer Styles
// ====================
footer {
    background-color: #f8f9fa;
    color: #666;
    padding: 40px 0;
    font-size: 0.9rem;
    text-align: center;
    border-top: 3px solid $primary-color;
    font-family: Georgia, Arial, sans-serif;

    &.dark-mode {
        background-color: $dark-background;
        color: $dark-text-color;
    }

    p {
        margin-bottom: 0;
        color: inherit;

        a {
            color: $primary-color;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// ====================
// Scroll to Top Button
// ====================
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: $primary-color;
    color: $button-text-color;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;

    &:hover {
        background-color: $secondary-color;
    }

    &.dark-mode {
        background-color: $dark-primary-color;
        color: $dark-text-color;

        &:hover {
            background-color: $primary-color;
        }
    }
}
