html {
  scroll-behavior: smooth;
}

body {
  padding-top: 56px;
  font-family: Georgia, Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

h2 {
  margin-bottom: 30px;
  font-weight: bold;
  color: #333;
}
h2.dark-mode {
  color: #ffffff;
}

.navbar {
  background-color: #ad0000;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s;
}
.navbar.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}
.navbar.dark-mode .navbar-brand, .navbar.dark-mode .navbar-nav .nav-link {
  color: #ffffff;
}
.navbar.dark-mode #theme-toggle {
  border-color: #520ca8;
  color: #520ca8;
}
.navbar.dark-mode #theme-toggle:hover {
  background-color: #520ca8;
  color: #ffffff;
}
.navbar.dark-mode .dropdown-menu {
  background-color: #1e1e1e;
  border-color: #333;
}
.navbar.dark-mode .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar.dark-mode .dropdown-menu .dropdown-item:hover {
  background-color: #520ca8;
  color: #fff;
}
.navbar .navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 20px;
}
.navbar .navbar-brand:hover {
  color: #ffff00;
}
.navbar .navbar-nav {
  margin-right: 20px;
}
.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 20px;
  transition: color 0.3s;
}
.navbar .navbar-nav .nav-link:hover {
  color: #ffff00;
}
.navbar #theme-toggle {
  border: 1px solid #ad0000;
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 20px;
  transition: background-color 0.3s, color 0.3s;
}
.navbar #theme-toggle.dark-mode {
  border-color: #520ca8;
  background-color: #121212;
}
.navbar .dropdown-menu {
  background-color: #f8f9fa;
  border: 1px solid #ad0000;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}
.navbar .dropdown-menu .dropdown-item {
  color: #333;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #ffff00;
  color: #1e1e1e;
  border-radius: 10px;
}
.navbar .dropdown-menu.dark-mode {
  background-color: #1e1e1e;
  border-color: #333;
}
.navbar .dropdown-menu.dark-mode .dropdown-item {
  color: #ffffff;
}
.navbar .dropdown-menu.dark-mode .dropdown-item:hover {
  background-color: #520ca8;
  color: #fff;
}

#about {
  font-family: Georgia, "Times New Roman", Times, serif;
}
#about h2 p span {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
#about {
  animation: fadeIn 1s ease-in-out forwards;
}
#about h2 {
  animation: fadeIn 1.5s ease-in-out forwards;
}
#about .lead {
  animation: slideInLeft 1s ease-in-out forwards;
}
#about .img-fluid {
  animation: slideInRight 1s ease-in-out forwards;
}

#services {
  text-align: center;
}
#services h2 {
  color: #039ae0;
  margin: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.service-card {
  font-family: Georgia, "Times New Roman", Times, serif;
  border: #ad0000 solid 1px;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.service-card:hover {
  border-color: #ad0000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}
.service-card.dark-mode {
  background-color: #1e1e1e;
  border-color: #1e1e1e;
}
.service-card.dark-mode:hover {
  border-color: #520ca8;
}
.service-card .service-icon {
  font-size: 50px;
  color: #520ca8;
  margin-bottom: 15px;
}

#portfolio {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 50px 0;
  border: none;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #039ae0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#portfolio.dark-mode {
  background-color: #121212;
}
#portfolio.dark-mode h2 {
  color: #ffffff;
}

.portfolio-item {
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, border-color 0.2s;
  height: 450px;
  margin-bottom: 30px;
}
.portfolio-item:hover {
  transform: translateY(-5px);
  border-color: #ad0000;
}
.portfolio-item img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}
.portfolio-item h5 {
  font-size: 2rem;
  color: #ad0000;
}
.portfolio-item p {
  color: #666;
  font-size: 1rem;
}
.portfolio-item a {
  color: #0080bc;
  font-weight: 700;
  font-size: larger;
  text-decoration: none;
}
.portfolio-item a:hover {
  text-decoration: underline;
}
.portfolio-item.dark-mode {
  background: #1e1e1e;
  border: 1px solid #b3b3b3;
}
.portfolio-item.dark-mode p {
  color: #b3b3b3;
}
.portfolio-item.dark-mode a {
  color: #0080bc;
}

#blog {
  padding: 50px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#blog h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: #039ae0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#blog .col-md-4 {
  margin-bottom: 30px;
  transition: transform 0.3s;
}
#blog .col-md-4:hover {
  transform: translateY(-5px);
}
#blog img {
  width: 100%;
  height: 190px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
#blog img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}
#blog h5 {
  font-size: 1.75rem;
  color: #0080bc;
  margin-top: 15px;
  font-family: "Georgia", serif;
  text-align: center;
}
#blog p {
  color: #666;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: center;
}
#blog a {
  color: #0080bc;
  font-weight: 700;
  font-size: larger;
  text-decoration: none;
}
#blog a:hover {
  text-decoration: underline;
}
#blog.dark-mode {
  background-color: #1e1e1e;
}
#blog.dark-mode h5, #blog.dark-mode p, #blog.dark-mode a {
  color: #ffffff;
}

#testimonials h2 {
  color: #0080bc;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.blockquote-footer.dark-mode {
  background-color: #1e1e1e;
}

#faq {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#faq h2 {
  color: #039ae0;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#faq span {
  color: #0072a7;
  font-size: 2rem;
}
#faq .card {
  color: #0080bc;
  font-size: 1.5rem;
  background-color: #ffcc00;
}
#faq .card-body {
  background-color: #ad0000;
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#contact {
  color: #fff;
  padding: 5rem 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #0080bc;
}
#contact h2.dark-mode {
  color: #ffffff;
}
#contact p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #fff;
}
#contact p.dark-mode {
  color: #ffffff;
}
#contact .contact-info {
  width: 100%;
  list-style: none;
  padding: 50px;
  text-align: start;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: justify;
  transition: transform 0.3s, box-shadow 0.3s;
}
#contact .contact-info:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}
#contact .contact-info strong {
  color: #0080bc;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#contact .contact-info li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #333;
  font-weight: bold;
}
#contact .contact-info li i {
  margin-right: 0.5rem;
  color: #ad0000;
}
#contact .contact-info li.dark-mode {
  color: #ffffff;
}
#contact .contact-info li.dark-mode i {
  color: #520ca8;
}
#contact .contact-info a {
  color: #ad0000;
  text-decoration: none;
  font-weight: bold;
}
#contact .contact-info a:hover {
  color: #333;
}
#contact .contact-info a.dark-mode {
  color: #520ca8;
}
#contact .contact-info a.dark-mode:hover {
  color: #ffff00;
}
#contact #contact-form .form-group {
  margin-bottom: 1.5rem;
  color: #039ae0;
}
#contact #contact-form .form-group label {
  font-size: 1.1rem;
  font-weight: bold;
}
#contact #contact-form .form-group label.dark-mode {
  color: #ffffff;
}
#contact #contact-form .form-group input,
#contact #contact-form .form-group textarea {
  border: 2px solid #ad0000;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #f8f9fa;
  color: #333;
  transition: border-color 0.3s;
}
#contact #contact-form .form-group input:focus,
#contact #contact-form .form-group textarea:focus {
  border-color: #ad0000;
  outline: none;
}
#contact #contact-form .form-group input.dark-mode,
#contact #contact-form .form-group textarea.dark-mode {
  border-color: #520ca8;
  background-color: #1e1e1e;
  color: #ffffff;
}
#contact #contact-form button {
  background-color: #ad0000;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
#contact #contact-form button:hover {
  background-color: #ad0000;
  color: #fff;
}
#contact #contact-form button.dark-mode {
  background-color: #520ca8;
  color: #ffffff;
}

footer {
  background-color: #ad0000;
  color: #fff;
  padding: 2rem 0;
  font-size: 1rem;
}
footer p {
  margin: 0.5rem 0;
}
footer p a {
  color: #ffff00;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
footer p a:hover {
  color: #fff;
}
footer .social-icons {
  margin-top: 1rem;
}
footer .social-icons a {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  transition: color 0.3s;
}
footer .social-icons a:hover {
  color: #ffff00;
}
footer .social-icons a i {
  font-size: 1.5rem;
}
footer.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}
footer.dark-mode p a {
  color: #520ca8;
}
footer.dark-mode p a:hover {
  color: #ffffff;
}
footer.dark-mode .social-icons a {
  color: #ffffff;
}
footer.dark-mode .social-icons a:hover {
  color: #520ca8;
}/*# sourceMappingURL=style.css.map */